.site-title {
  @include container;
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $red-300;
  @include fs-6;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

$nav-list-expander: white;

.site-footer a {
  color: white;
}

::selection {
  color: black;
  background: $grey-lt-200;
}

.site-button {
  text-decoration: underline;
  text-decoration-color: $grey-dk-000;
  &:hover {
    background-color: white !important;
    background-image: none;
    text-decoration: underline;
    text-decoration-color: black;
  }
}

.nav-list {
  .nav-list-item {
    a {
      color: white;      
    }
    .nav-list-link {
      &.active {
        color: $grey-dk-000;
      }
      &:hover,
      &.active {
        background-image: none;
        background-color: $feedback-color;
      }
    }
    .nav-list-expander {
      @extend .nav-list-expander;
      color: white;
    }
  }
}

.search-result {
  &:hover,
  &.active {
    background-color: $grey-lt-300;
  }
}

.search-result-highlight {
  font-weight: bold;
  color: $red-300;
}

.warning {
  background-color: #fffaf3;
  color: #573a08;
  box-shadow: 0 0 0 1px #c9ba9b inset,0 0 0 0 transparent;
  padding: 2rem;
}
