---
---

//@import "{{ site.theme }}"; 

$sidebar-background-color: #24292e;
$sidebar-text-color: #fff;
$gray-text: gray;
$dark-text: black;
$red-text: #B00000;

.side-bar, .site-footer {
  background-color: $sidebar-background-color;
  color: $sidebar-text-color;
}

.side-bar a {
  color: $sidebar-text-color !important;
}

.site-title {
  background-color: $sidebar-background-color;
}

a.site-title {
  color: $red-text !important;
}

.navigation-list-link.active {
  color: $gray-text !important;
}

.navigation-list-link, .navigation-list-child-list {
  color: $sidebar-text-color !important;
}

a {
  color: $dark-text;
}

@media (min-width: 46.25rem) {
  .site-title {
    border-bottom: 1px solid gray;
  }
}

::selection {
  background: gray !important;
}

@page {
  size: A4;
  counter-increment: page;
  @top-left {
    content: "Nuvla documentation";
    border-top: .12pt solid #666;
    width: 50%;
    color: gray;
  }
  @bottom-right {
    content: "License: Apache 2.0";
    border-top: .12pt solid #666;
    width: 50%;
    color: gray;
  }
  @bottom-left {
      content: "Source: docs.nuvla.io";
      border-top: .12pt solid #666;
      width: 50%;
      color: gray;
  }
  @bottom-center {
      content: "Copyright © 2020 SixSq Sàrl";
      border-top: .12pt solid #666;
      border-left: .12pt;
      width: 50%;
      color: gray;
  }
}

.main-content {
  text-align: justify;
}

.center-image
{
    margin: 0 auto;
    display: block;
}
